[submodule "ThirdParty/rapidjson"]
	path = ThirdParty/rapidjson
	url = ../../Tencent/rapidjson.git
[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = ../../g-truc/glm.git
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = ../../ocornut/imgui.git
[submodule "ThirdParty/stb"]
	path = ThirdParty/stb
	url = ../../nothings/stb.git
[submodule "ThirdParty/tinyobjloader"]
	path = ThirdParty/tinyobjloader
	url = ../../tinyobjloader/tinyobjloader.git
[submodule "ThirdParty/DirectXTex"]
	path = ThirdParty/DirectXTex
	url = ../../microsoft/DirectXTex.git
