[submodule "ThirdParty/rapidjson"]
	path = ThirdParty/rapidjson
	url = ../../Tencent/rapidjson.git
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = ../../ocornut/imgui.git
[submodule "ThirdParty/stb"]
	path = ThirdParty/stb
	url = ../../nothings/stb.git
[submodule "ThirdParty/tinyobjloader"]
	path = ThirdParty/tinyobjloader
	url = ../../tinyobjloader/tinyobjloader.git
[submodule "ThirdParty/DirectXMath"]
	path = ThirdParty/DirectXMath
	url = ../../microsoft/DirectXMath.git
	branch = main
