# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.cache

imgui.ini
JoyEngineDX_FullDebug.*
JoyEngineDX_Debug.*
JoyEngineDX_Release.*
AssetBuilderLib.*
JoyAssetBuilder.*

.idea/
.vs/
Temp/
JoyAssetBuilder/AssetBuilderGui/obj